@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;900&display=swap');

:root{
    --font-1:'Roboto', sans-serif;;
    --main_color:#ff8400;
    --sec_color:hsl(32, 100%, 88%);
    --basic_color:white;
    --nav_bg_color:#e6e7ec;
    --bg_color:#252525;

    --color-1:rgb(218, 1, 1);
    --color-2:rgb(31, 189, 0);
    --color-3:rgb(0, 101, 253);
    --color-4:rgb(255, 187, 0);

    --base-width:70%
}



/* Reset */
*{
    margin: 0;
    padding: 0;
    font-family:var(--font-1);
}
body {
    min-height: 100vh;
    width: var(--base-width);
    margin: 0 auto;
}
a{
    color: rgb(0, 0, 0);
    text-decoration: none;
}
html {
    box-sizing: border-box;
  }
  


/* Navbar */
.nav-container{
    background-color: var(--nav_bg_color);
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    float: left;
    width: 300px;
    overflow-y: auto;
    height: 100vh;
    text-align: center;
    transition: all .3s ease-in-out;
    z-index: 9;
}
#dp{
    width: 65%;
    margin: 2rem 0;
}
#dp img{
    width: 100%;
    border-radius: 100px;
}
#dp h2{
    margin-top: 10px;
}

.pages{
    margin: 0px auto;
    display: flex;
    flex-direction: column;
}
.pages li{
    margin: 0.7rem;
    list-style: none;
    font-size: 1.05rem;
    transition: all .3s ease-in-out;
    font-weight: 400;
}
.pages li a{
    transition: all .2s ease-in-out;
}
.pages li a:hover,
.pages li a:active{
    color: var(--main_color);
}
.pages li:hover{
    transform: scale(1.1);
}
.main-container{
    width: calc(100% - 300px);
    float: right;
}


/* Footer Section  */
#footer{
    margin: 1rem 0;
}
.social-icons a i{
    width: 25px;
    margin: 5px 0;
}
.social-icons i:hover{
    color: var(--main_color);
}
.copy-right{
    font-size: 0.7rem;
}
/* Utilities */
.container{
    width: 85%;
    margin: 0 auto;
}
.btn{
    cursor: pointer;
    outline: none;
    background-color: var(--sec_color);
    color: var(--basic_color);
}
.heading{
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 1rem;
}